 <div class="jumbotron">
   <h1>Want a burrito?</h1>
   <p class="lead">Tufts has a new food delivery service, powered entirely by students.</p>
   <p><a id="ordernow" class="btn btn-lg btn-success" href="#order" role="button">Order now</a></p>
 </div>

 <div class="row marketing">
   <div class="col-lg-6">
     <h4>Who?</h4>
     <p>We are a group of students who signed up to do rotating pickup from Chipotle and other food places.</p>

     <h4>How?</h4>
     <p>There is a calendar that displays order times, and we try and figure out who is available at those times.</p>
   </div>

   <div class="col-lg-6">
     <h4>Why?</h4>
     <p>We recognize that most places don't deliver at absurd hours. We want you to enjoy your fish tacos at 2am without interrupting your studying.</p>

     <h4>How much?</h4>
     <p>We charge the cost of the order + 10% to deliver. An extra fee (undecided) applies for "rush" deliveries or times where nobody is available.</p>
   </div>
 </div>